body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 20px;

}

.board {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: rgba(100, 100, 100, 0.3);
  }

}